<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}" lang="es">
<head th:replace="layout/layout :: head">
<title>Registro Deuda</title>
</head>
<body>

	<div class="container-fluid" layout:fragment="page-content">


		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles">
					<i class="zmdi zmdi-balance zmdi-hc-fw"></i> Registro Deuda
				</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs" style="margin-bottom: 15px;">
					<li class="active"><a href="#new" data-toggle="tab">Registro
							Deuda</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="new">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-md-10 col-md-offset-1">
									<form th:action="@{/guardar-deuda}" method="post"
										th:object="${cliente}" novalidate>

										<input type="hidden" th:name="${_csrf.parameterName}"
											th:value="${_csrf.token}" />

										<div class="form-group label-floating">
											<label class="control-label">Identificación</label> <input
												type="text" id="identificacionCliente"
												name="identificacionCliente" class="form-control" required
												oninput="this.value = this.value.toUpperCase();">
											<div id="infoCliente" class="form-text text-danger mt-1"></div>
										</div>



										<div class="form-group label-floating">
											<label class="control-label">Tipo de Deuda</label> <select
												name="tipoDeuda" class="form-control" required>
												<option value="" disabled>-- Selecciona tipo --</option>
												<option value="CREDITO VEHICULAR">CREDITO VEHICULAR</option>
												<option value="TAJETA DE CREDITO">TAJETA DE CREDITO</option>
												<option value="PRESTAMO UNIVERSITARIO">PRESTAMO
													UNIVERSITARIO</option>
												<option value="CREDITO HIPOTECARIO">CREDITO
													HIPOTECARIO</option>
												<option value="MICROCREDITO">MICROCREDITO</option>
											</select>
											<p class="help-block">Selecciona una estación de registro</p>
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Descripción</label> <input
												type="text" name="descripcion" class="form-control" required
												oninput="this.value = this.value.toUpperCase();">
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Valor Total</label> <input
												type="number" name="valorTotal" class="form-control"
												step="0.01" required min="0">
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Valor a Pagar</label> <input
												type="number" name="valorAPagar" class="form-control"
												step="0.01" required min="0">
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Total Cuotas</label> <input
												type="number" name="totalCuotas" class="form-control"
												required min="1" data-solo-numeros>
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Cuotas Pagadas</label> <input
												type="number" name="numCuotaPagada" class="form-control"
												required min="0" data-solo-numeros>
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Próxima Cuota</label> <input
												type="number" name="proximaCuota" class="form-control"
												required min="1" data-solo-numeros>
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Fecha de Deuda</label> <input
												type="datetime-local" name="fechaDeuda" value=""
												class="form-control" required>
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Fecha Máxima de Pago</label> <input
												type="datetime-local" name="fechaMaxPago" value=""
												class="form-control" required>
										</div>
										<div class="form-group label-floating">
											<label class="control-label">Estado de Deuda</label> <select
												class="form-control" required name="estadoDeuda">
												<option value="" disabled>-- Selecciona Estado --</option>
												<option value="ACTIVA">ACTIVA</option>
												<option value="VENCIDA">VENCIDA</option>
												<option value="PAGADA">PAGADA</option>
												<option value="EN MORA">CLIENTE</option>
												<option value="CONDONADA">CONDONADA</option>
											</select>
											<p class="help-block">Selecciona un estado de la deuda</p>
										</div>

										<input type="hidden" name="esActivo" value="true">

										<p class="text-center">
											<button type="submit" class="btn btn-info btn-raised btn-sm">
												<i class="zmdi zmdi-floppy"></i> Guardar
											</button>
										</p>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--====== OTROS SCRIPS PARA PAGINAS DIFERENTES A LOS DEL TEMPLATE -->
	<th:block layout:fragment="page-scripts">

	</th:block>

</body>
</html>



