<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es"
	layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
	<title>Registro Usuario</title>
</head>

<body>
	<div class="container-fluid" layout:fragment="page-content">

		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles">
					<i class="zmdi zmdi-account zmdi-hc-fw"></i> Registro Usuario
				</h1>
			</div>
		</div>

		<!--<p>Usuario: <span th:text="${usuarios}">null</span></p>
		<p>ID Usuario: <span th:text="${usuarios.idUsuario}">null</span></p>
		<p>Roles: <span th:text="${listaRoles}">null</span></p>-->

		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs" style="margin-bottom: 15px;">
					<li class="active"><a href="#" data-toggle="tab">Registro Usuario</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="new">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12 col-md-10 col-md-offset-1">

									<!-- FORMULARIO -->
									<form th:action="@{/guardar-usuario}" th:object="${usuarios}" method="post"
										novalidate>

										<input type="hidden" th:field="*{idUsuario}" />

										<div class="form-group label-floating">
											<label class="control-label">Usuario</label>
											<input type="text" class="form-control" th:field="*{username}" required
												autofocus />
										</div>

										<!-- Mostrar los campos de password solo si es un nuevo usuario -->
										<div th:if="${usuarios.idUsuario == 0}">
											<div class="form-group label-floating">
												<label class="control-label" for="password">Password</label>
												<input type="password" class="form-control" th:field="*{password}"
													required />
											</div>
										</div>

										<!-- Campo oculto solo al editar -->
										<div th:if="${usuarios.idUsuario > 0 }">
											<input type="hidden" th:field="*{password}" />
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Nombre</label>
											<input type="text" class="form-control" th:field="*{nombre}" required />
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Apellido</label>
											<input type="text" class="form-control" th:field="*{apellido}" required />
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Identificación</label>
											<input type="text" class="form-control" th:field="*{identificacion}"
												required pattern="\d+" title="Solo números" />
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Correo</label>
											<input type="email" class="form-control" th:field="*{correo}" required />
										</div>

										<div class="form-group label-floating">
											<label class="control-label">Celular</label>
											<input type="text" class="form-control" th:field="*{celular}" required
												pattern="\d{10}" title="10 dígitos numéricos" />
										</div>

										<div class="form-group">
											<label class="control-label">Estado</label>
											<select th:field="*{enabled}" class="form-control" required>
												<option value="true">ACTIVO</option>
												<option value="false">INACTIVO</option>
											</select>
										</div>

										<div class="form-group">
											<label class="control-label">Rol</label>
											<select class="form-control" th:field="*{idRolSeleccionado}" required>
												<option value="" disabled>Seleccione un rol</option>
												<option th:each="rol : ${listaRoles}" th:value="${rol.idRol}"
													th:text="${rol.nombre}">
												</option>
											</select>
										</div>

										<p class="text-center">
											<button type="submit" class="btn btn-info btn-raised btn-sm">
												<i class="zmdi zmdi-floppy"></i> Guardar
											</button>
										</p>

									</form>
									<!-- FIN FORMULARIO -->

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Scripts adicionales -->
	<th:block layout:fragment="page-scripts">
	</th:block>

</body>

</html>